.confirmation-modal .modal {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #fff;
  width: auto;
}

.confirmation-modal .modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.confirmation-modal .modal-content .confirm-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.confirmation-modal .modal-content img {
  filter: invert(1);
  width: 100px;
  margin-bottom: 20px;
}

.confirmation-modal .modal-content p {
  margin-bottom: 10px;
}

.confirmation-modal .modal-content .confirm-actions .button {
  width: 140px;
}

.confirmation-modal .modal-header {
  border: 0;
}

.button-error {
  background: #ed4956 !important;
}

.button-error:hover {
  background: #c72e3b !important;
}

.button-error:active {
  box-shadow: 0 0 0 0.2rem #ed495780 !important;
}
