.modal-root {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 18px 24px;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header.dismissible {
  padding: 14px 24px;
}

.modal-title {
  font-size: 18px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.modal-content {
  padding: 24px;
}

.modal-close-icon {
  height: 28px;
  width: 28px;
}
